<a href="https://colab.research.google.com/github/deepavasanthkumar/deepcodesnippets/blob/master/pyspark_maxby_minby.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.1.tar.gz (281.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 281.4/281.4 MB 2.8 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.7/199.7 KB 11.1 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.1-py2.py3-none-any.whl size=281845512 sha256=f043ea76cc5a826790061ea056d95ad9cbcd01060eeaeb031a8be7227031dec8
  Stored in directory: /root/.cache/pip/wheels/43/dc/11/ec201cd671da62fa9c5cc77078235e40722170ceba231d7598
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.1

In [2]:
import pyspark
from pyspark.sql import SparkSession
  
spark = SparkSession.builder.appName("Spark Window Functions ").getOrCreate()
spark

In [ ]:
df = spark.createDataFrame([
       ("Java", 2012, 20000), ("dotNET", 2012, 5000),
      ("dotNET", 2013, 48000), ("Java", 2013, 30000)],
     schema=("course", "year", "earnings"))
df.groupby("course").agg(max_by("year", "earnings")).show()

In [6]:
from pyspark.sql.types import StructType,StructField, StringType, IntegerType


data1 = [("James","","Smith","36636","M", 1000, "Sales", 2020),
    ("Michael","Rose","","40288","M", 2000, "Operations",2020),
    ("Robert","","Williams","42114","M", 3000, "Sales",2020),
    ("Maria","Anne","Jones","39192","F", 4000, "Operations",2020),
  ("Ria","Anne","Jones","60000","F", 7000, "Operations",2020)
  
  ]
 
schema1 = StructType([ \
    StructField("firstname",StringType(),True), \
    StructField("middlename",StringType(),True), \
    StructField("lastname",StringType(),True), \
    StructField("id", StringType(), True), \
    StructField("gender", StringType(), True),
    StructField("annualsalary", IntegerType(), True),
    StructField("work", StringType(), True),
    StructField("year", IntegerType(), True),
   
  ])

df1 = spark.createDataFrame(data=data1,schema=schema1)

df1.show(truncate=False)

+---------+----------+--------+-----+------+------------+----------+----+
|firstname|middlename|lastname|id   |gender|annualsalary|work      |year|
+---------+----------+--------+-----+------+------------+----------+----+
|James    |          |Smith   |36636|M     |1000        |Sales     |2020|
|Michael  |Rose      |        |40288|M     |2000        |Operations|2020|
|Robert   |          |Williams|42114|M     |3000        |Sales     |2020|
|Maria    |Anne      |Jones   |39192|F     |4000        |Operations|2020|
|Ria      |Anne      |Jones   |60000|F     |7000        |Operations|2020|
+---------+----------+--------+-----+------+------------+----------+----+

#max_by 

SQL max_by expression 
max_by(col: "ColumnOrName", ord: "ColumnOrName") -> Column:
Returns the value associated with the maximum value of ord.

In [19]:
df1.show(truncate=False)

+---------+----------+--------+-----+------+------------+----------+----+
|firstname|middlename|lastname|id   |gender|annualsalary|work      |year|
+---------+----------+--------+-----+------+------------+----------+----+
|James    |          |Smith   |36636|M     |1000        |Sales     |2020|
|Michael  |Rose      |        |40288|M     |2000        |Operations|2020|
|Robert   |          |Williams|42114|M     |3000        |Sales     |2020|
|Maria    |Anne      |Jones   |39192|F     |4000        |Operations|2020|
|Ria      |Anne      |Jones   |60000|F     |7000        |Operations|2020|
+---------+----------+--------+-----+------+------------+----------+----+

In [9]:
from pyspark.sql.functions import  max_by, min_by

In [7]:
df1.groupby("work").agg(max_by("annualsalary", "year")).show()

+----------+--------------------------+
|      work|max_by(annualsalary, year)|
+----------+--------------------------+
|     Sales|                      3000|
|Operations|                      7000|
+----------+--------------------------+

In [20]:
df1.groupby("work").agg(min_by("annualsalary", "year")).show()

+----------+--------------------------+
|      work|min_by(annualsalary, year)|
+----------+--------------------------+
|     Sales|                      3000|
|Operations|                      7000|
+----------+--------------------------+

#min_by
 min_by(col: "ColumnOrName", ord: "ColumnOrName") -> Column:
  Returns the value associated with the **minimum** value of ord.

In [13]:
df1.groupby("work").agg(min_by("annualsalary", "year")).show()

+----------+--------------------------+
|      work|min_by(annualsalary, year)|
+----------+--------------------------+
|     Sales|                      3000|
|Operations|                      7000|
+----------+--------------------------+

In [16]:
df1.groupby("work").agg(min_by("annualsalary", "year")).show()

+----------+--------------------------+
|      work|min_by(annualsalary, year)|
+----------+--------------------------+
|     Sales|                      3000|
|Operations|                      7000|
+----------+--------------------------+