<a href="https://colab.research.google.com/github/deepavasanthkumar/deepcodesnippets/blob/master/PySpark_Dataframe_Operations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# This Colab demos the Basic Apache Spark Dataframe functions. 
Functions Covered are 


*   Filter
*   GroupBy
*   OrderBy
*   Aggregations - Maximum, Average
*   Window Function - GroupBy + Filter


Please feel free to add any other 

 *~Deepa Vasanthkumar*

PySpark - Pip. 
Now we are ready to use **pyspark**

In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 34 kB/s
Collecting py4j==0.10.9.2
  Downloading py4j-0.10.9.2-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 50.2 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.0-py2.py3-none-any.whl size=281805912 sha256=d1f49ad5e8a0ca99214aee2794d3b5cc75a189112fec5b24dc0b98a5b56f04c9
  Stored in directory: /root/.cache/pip/wheels/0b/de/d2/9be5d59d7331c6c2a7c1b6d1a4f463ce107332b1ecd4e80718
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.2 pyspark-3.2.0

#This example is driven by the dataset available in the location

#This can be edited to any CSV file

Download film.csv from https://perso.telecom-paristech.fr/eagan/class/igr204/datasets



Upload the same, after running the below snippet

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving film.csv to film.csv

In [ ]:
import pyspark

# Create **Spark** Session to be used throughout

In [ ]:
from pyspark.sql import SparkSession
  
spark = SparkSession.builder.appName("DataFrame").getOrCreate()


# Using Spark session, we can create dataframe with csv option. 

Read the film.csv into a dataframe.
We need to inferHeader (Header is present in csv)
inferSchema and use Seperator = ; as file is Semi-colon seperated value.

There are multiple other options available with csv, we can use it if required, else can use the default options.

In [ ]:
df = spark.read.csv('film.csv', inferSchema=True, header=True, sep = ";")

df.printSchema()

root
 |-- Year: integer (nullable = true)
 |-- Length: integer (nullable = true)
 |-- Title: string (nullable = true)
 |-- Subject: string (nullable = true)
 |-- Actor: string (nullable = true)
 |-- Actress: string (nullable = true)
 |-- Director: string (nullable = true)
 |-- Popularity: integer (nullable = true)
 |-- Awards: string (nullable = true)
 |-- *Image: string (nullable = true)

#Showing the data

In [ ]:

df.show()

+----+------+--------------------+-------+--------------------+-------------------+--------------------+----------+------+-------------------+
|Year|Length|               Title|Subject|               Actor|            Actress|            Director|Popularity|Awards|             *Image|
+----+------+--------------------+-------+--------------------+-------------------+--------------------+----------+------+-------------------+
|1990|   111|Tie Me Up! Tie Me...| Comedy|   Banderas, Antonio|    Abril, Victoria|    Almod�var, Pedro|        68|    No|   NicholasCage.png|
|1991|   113|          High Heels| Comedy|        Bos�, Miguel|    Abril, Victoria|    Almod�var, Pedro|        68|    No|   NicholasCage.png|
|1983|   104|      Dead Zone, The| Horror| Walken, Christopher|      Adams, Brooke|   Cronenberg, David|        79|    No|   NicholasCage.png|
|1979|   122|                Cuba| Action|       Connery, Sean|      Adams, Brooke|     Lester, Richard|         6|    No|    seanConnery.png|
|1978|    94|      Days of Heaven|  Drama|       Gere, Richard|      Adams, Brooke|    Malick, Terrence|        14|    No|   NicholasCage.png|
|1983|   140|           Octopussy| Action|        Moore, Roger|        Adams, Maud|          Glen, John|        68|    No|   NicholasCage.png|
|1984|   101|        Target Eagle| Action|      Connors, Chuck|        Adams, Maud|Loma, Jos� Antoni...|        14|    No|   NicholasCage.png|
|1989|    99|American Angels: ...|  Drama|   Bergen, Robert D.|       Adams, Trudy|  Sebastian, Beverly|        28|    No|   NicholasCage.png|
|1985|   104|              Subway|  Drama|Lambert, Christopher|   Adjani, Isabelle|         Besson, Luc|         6|    No|   NicholasCage.png|
|1990|   149|     Camille Claudel|  Drama|   Depardieu, G�rard|   Adjani, Isabelle|      Nuytten, Bruno|        32|    No|   NicholasCage.png|
|1982|   188| Fanny and Alexander|  Drama|     Ahlstedt, B�rje|Adolphson, Kristina|     Bergman, Ingmar|        81|   Yes|        Bergman.png|
|1982|   117|Tragedy of a Ridi...|  Drama|       Tognazzi, Ugo|       Aimee, Anouk|Bertolucci, Bernardo|        17|    No|   NicholasCage.png|
|1966|   103|     A Man & a Woman|  Drama|Trintignant, Jean...|       Aimee, Anouk|     Lelouch, Claude|        46|   Yes|   NicholasCage.png|
|1986|   112|A Man & a Woman: ...|  Drama|Trintignant, Jean...|       Aimee, Anouk|     Lelouch, Claude|        49|    No|   NicholasCage.png|
|1966|   103|Un Hombre y una M...|  Drama|Trintignant, Jean...|       Aimee, Anouk|     Lelouch, Claude|         6|   Yes|   NicholasCage.png|
|1985|   112| Official Story, The|  Drama|     Alterio, Hector|    Aleandro, Norma|        Puenzo, Luiz|        39|   Yes|   NicholasCage.png|
|1976|   150|Lindbergh Kidnapp...|  Drama|    Hopkins, Anthony|  Alexander, Denise|         Kulik, Buzz|        51|    No| AnthonyHopkins.png|
|1929|    84|           Blackmail|Mystery|       Longden, John|       Algood, Sara|   Hitchcock, Alfred|         2|    No|alfredHitchcock.png|
|1963|   109|      Donovan's Reef| Comedy|         Wayne, John|   Allen, Elizabeth|          Ford, John|        62|    No|      johnWayne.png|
|1988|   110|Tucker: The Man &...|  Drama|       Bridges, Jeff|        Allen, Joan|Coppola, Francis ...|        68|    No|   NicholasCage.png|
+----+------+--------------------+-------+--------------------+-------------------+--------------------+----------+------+-------------------+
only showing top 20 rows

#Describe the data

In [ ]:
df.describe().show()

+-------+------------------+------------------+--------------------+--------+----------------+---------------+-------------+------------------+------+------------------+
|summary|              Year|            Length|               Title| Subject|           Actor|        Actress|     Director|        Popularity|Awards|            *Image|
+-------+------------------+------------------+--------------------+--------+----------------+---------------+-------------+------------------+------+------------------+
|  count|              1659|              1592|                1659|    1657|            1651|           1281|         1406|              1653|  1659|              1659|
|   mean|1975.8028933092223|105.17964824120602|                null|    null|            null|           null|         null| 43.11010284331518|  null|              null|
| stddev|17.057847829213554|30.629500868382884|                null|    null|            null|           null|         null|26.747405582164888|  null|              null|
|    min|              1920|                 5|2001: A Space Ody...|  Action|    Abel, Alfred|Abril, Victoria|Abrahams, Jim|                 0|    No|AnthonyHopkins.png|
|    max|              1997|               450|              Zardoz|Westerns|Zushi, Yoshitaka|Zetterling, Mai|Zwick, Edward|                88|   Yes|         woody.png|
+-------+------------------+------------------+--------------------+--------+----------------+---------------+-------------+------------------+------+------------------+

#Filtering the Dataframe based on the **Year** column

In [ ]:
from pyspark.sql.functions import col
df.filter(col("Year") == '1920').show()

+----+------+-------+-------+-------------+-------+-----------+----------+------+----------------+
|Year|Length|  Title|Subject|        Actor|Actress|   Director|Popularity|Awards|          *Image|
+----+------+-------+-------+-------------+-------+-----------+----------+------+----------------+
|1920|   137|Spiders|  Drama|De Vogy, Carl|   null|Lang, Fritz|        29|    No|NicholasCage.png|
+----+------+-------+-------+-------------+-------+-----------+----------+------+----------------+

#**PySpark Filter with Multiple Conditions**

In [ ]:
df.filter((col("Subject") == 'Drama') & (col("Awards") == 'Yes') ).show()

+----+------+--------------------+-------+--------------------+-------------------+--------------------+----------+------+------------------+
|Year|Length|               Title|Subject|               Actor|            Actress|            Director|Popularity|Awards|            *Image|
+----+------+--------------------+-------+--------------------+-------------------+--------------------+----------+------+------------------+
|1982|   188| Fanny and Alexander|  Drama|     Ahlstedt, B�rje|Adolphson, Kristina|     Bergman, Ingmar|        81|   Yes|       Bergman.png|
|1966|   103|     A Man & a Woman|  Drama|Trintignant, Jean...|       Aimee, Anouk|     Lelouch, Claude|        46|   Yes|  NicholasCage.png|
|1966|   103|Un Hombre y una M...|  Drama|Trintignant, Jean...|       Aimee, Anouk|     Lelouch, Claude|         6|   Yes|  NicholasCage.png|
|1985|   112| Official Story, The|  Drama|     Alterio, Hector|    Aleandro, Norma|        Puenzo, Luiz|        39|   Yes|  NicholasCage.png|
|1957|    91|   Wild Strawberries|  Drama|    Sj�str�m, Victor|    Andersson, Bibi|     Bergman, Ingmar|        42|   Yes|       Bergman.png|
|1962|    91|Through a Glass D...|  Drama| Bj�rnstrand, Gunnar| Andersson, Harriet|     Bergman, Ingmar|        64|   Yes|       Bergman.png|
|1972|    91|    Cries & Whispers|  Drama|   Josephson, Erland| Andersson, Harriet|     Bergman, Ingmar|        18|   Yes|       Bergman.png|
|1987|   102|     Babette's Feast|  Drama|LaFont, Jean-Phil...|   Audran, St�phane|       Axel, Gabriel|        79|   Yes|  NicholasCage.png|
|1980|   124|   Elephant Man, The|  Drama|    Hopkins, Anthony|     Bancroft, Anne|        Lynch, David|         3|   Yes|AnthonyHopkins.png|
|1982|   188|              Gandhi|  Drama|       Kingsley, Ben|    Bergen, Candice|Attenborough, Ric...|         7|   Yes|  NicholasCage.png|
|1978|    97|       Autumn Sonata|  Drama|       Bj�rk, Halvar|    Bergman, Ingrid|     Bergman, Ingmar|        49|   Yes| ingridBergman.png|
|1944|   114|            Gaslight|  Drama|      Boyer, Charles|    Bergman, Ingrid|       Cukor, George|        25|   Yes| ingridBergman.png|
|1982|   195|A Woman Called Golda|  Drama|         Beatty, Ned|    Bergman, Ingrid|        Gibson, Alan|        15|   Yes| ingridBergman.png|
|1956|   106|           Anastasia|  Drama|      Tamiroff, Akim|    Bergman, Ingrid|     Litvak, Anatole|        24|   Yes| ingridBergman.png|
|1984|   158|             Amadeus|  Drama|  Abraham, F. Murray|Berridge, Elizabeth|       Forman, Milos|         6|   Yes|  NicholasCage.png|
|1988|   172|Unbearable Lightn...|  Drama|   Day-Lewis, Daniel|  Binoche, Juliette|     Kaufman, Philip|         5|   Yes|  NicholasCage.png|
|1970|   137|             Airport|  Drama|     Lancaster, Burt| Bisset, Jacqueline|      Seaton, George|         0|   Yes| burtLancaster.png|
|1973|   116|       Day for Night|  Drama| Aumont, Jean-Pierre| Bisset, Jacqueline|  Truffaut, Fran�ois|        10|   Yes|  NicholasCage.png|
|1968|   103|              Charly|  Drama|    Robertson, Cliff|      Bloom, Claire|       Nelson, Ralph|        38|   Yes|  NicholasCage.png|
|1985|   119|Kiss of the Spide...|  Drama|       Hurt, William|       Braga, Sonia|     Babenco, Hector|        10|   Yes|  NicholasCage.png|
+----+------+--------------------+-------+--------------------+-------------------+--------------------+----------+------+------------------+
only showing top 20 rows

# Filter with  **IsIn** containing a list of genre

In [ ]:

#Filter IS IN List values
genreLi=["Drama","Comedy"]
df.filter(col("Subject").isin(genreLi)).show()

+----+------+--------------------+-------+--------------------+--------------------+--------------------+----------+------+------------------+
|Year|Length|               Title|Subject|               Actor|             Actress|            Director|Popularity|Awards|            *Image|
+----+------+--------------------+-------+--------------------+--------------------+--------------------+----------+------+------------------+
|1990|   111|Tie Me Up! Tie Me...| Comedy|   Banderas, Antonio|     Abril, Victoria|    Almod�var, Pedro|        68|    No|  NicholasCage.png|
|1991|   113|          High Heels| Comedy|        Bos�, Miguel|     Abril, Victoria|    Almod�var, Pedro|        68|    No|  NicholasCage.png|
|1978|    94|      Days of Heaven|  Drama|       Gere, Richard|       Adams, Brooke|    Malick, Terrence|        14|    No|  NicholasCage.png|
|1989|    99|American Angels: ...|  Drama|   Bergen, Robert D.|        Adams, Trudy|  Sebastian, Beverly|        28|    No|  NicholasCage.png|
|1985|   104|              Subway|  Drama|Lambert, Christopher|    Adjani, Isabelle|         Besson, Luc|         6|    No|  NicholasCage.png|
|1990|   149|     Camille Claudel|  Drama|   Depardieu, G�rard|    Adjani, Isabelle|      Nuytten, Bruno|        32|    No|  NicholasCage.png|
|1982|   188| Fanny and Alexander|  Drama|     Ahlstedt, B�rje| Adolphson, Kristina|     Bergman, Ingmar|        81|   Yes|       Bergman.png|
|1982|   117|Tragedy of a Ridi...|  Drama|       Tognazzi, Ugo|        Aimee, Anouk|Bertolucci, Bernardo|        17|    No|  NicholasCage.png|
|1966|   103|     A Man & a Woman|  Drama|Trintignant, Jean...|        Aimee, Anouk|     Lelouch, Claude|        46|   Yes|  NicholasCage.png|
|1986|   112|A Man & a Woman: ...|  Drama|Trintignant, Jean...|        Aimee, Anouk|     Lelouch, Claude|        49|    No|  NicholasCage.png|
|1966|   103|Un Hombre y una M...|  Drama|Trintignant, Jean...|        Aimee, Anouk|     Lelouch, Claude|         6|   Yes|  NicholasCage.png|
|1985|   112| Official Story, The|  Drama|     Alterio, Hector|     Aleandro, Norma|        Puenzo, Luiz|        39|   Yes|  NicholasCage.png|
|1976|   150|Lindbergh Kidnapp...|  Drama|    Hopkins, Anthony|   Alexander, Denise|         Kulik, Buzz|        51|    No|AnthonyHopkins.png|
|1963|   109|      Donovan's Reef| Comedy|         Wayne, John|    Allen, Elizabeth|          Ford, John|        62|    No|     johnWayne.png|
|1988|   110|Tucker: The Man &...|  Drama|       Bridges, Jeff|         Allen, Joan|Coppola, Francis ...|        68|    No|  NicholasCage.png|
|1988|   101|            Scrooged| Comedy|        Murray, Bill|        Allen, Karen|     Donner, Richard|        15|    No|  NicholasCage.png|
|1988|   127|              Colors|  Drama|          Penn, Sean|Alonso, Maria Con...|      Hopper, Dennis|        23|    No|  NicholasCage.png|
|1990|    97|            Zandalee|  Drama|       Cage, Nicolas|     Anderson, Erika|      Pillsbury, Sam|        80|    No|  NicholasCage.png|
|1988|   108|     Miles from Home|  Drama|     Anderson, Kevin|        Anderson, Jo|        Sinise, Gary|        53|    No|  NicholasCage.png|
|1979|   110|             Quintet|  Drama|        Newman, Paul|     Andersson, Bibi|      Altman, Robert|        19|    No|    paulNewman.png|
+----+------+--------------------+-------+--------------------+--------------------+--------------------+----------+------+------------------+
only showing top 20 rows

# Filter with **negation** of **IsIn**

In [ ]:

genreLi=["Drama","Comedy"]
df.filter(~col("Subject").isin(genreLi)).show()

+----+------+--------------------+---------------+--------------------+--------------------+--------------------+----------+------+-------------------+
|Year|Length|               Title|        Subject|               Actor|             Actress|            Director|Popularity|Awards|             *Image|
+----+------+--------------------+---------------+--------------------+--------------------+--------------------+----------+------+-------------------+
|1983|   104|      Dead Zone, The|         Horror| Walken, Christopher|       Adams, Brooke|   Cronenberg, David|        79|    No|   NicholasCage.png|
|1979|   122|                Cuba|         Action|       Connery, Sean|       Adams, Brooke|     Lester, Richard|         6|    No|    seanConnery.png|
|1983|   140|           Octopussy|         Action|        Moore, Roger|         Adams, Maud|          Glen, John|        68|    No|   NicholasCage.png|
|1984|   101|        Target Eagle|         Action|      Connors, Chuck|         Adams, Maud|Loma, Jos� Antoni...|        14|    No|   NicholasCage.png|
|1929|    84|           Blackmail|        Mystery|       Longden, John|        Algood, Sara|   Hitchcock, Alfred|         2|    No|alfredHitchcock.png|
|1981|   116|Raiders of the Lo...|         Action|      Ford, Harrison|        Allen, Karen|   Spielberg, Steven|         8|    No|   NicholasCage.png|
|1987|   101|    Running Man, The|Science Fiction|Schwarzenegger, A...|Alonso, Maria Con...|Glaser, Paul Michael|        31|    No|   NicholasCage.png|
|1991|   105|          Predator 2|         Action|       Glover, Danny|Alonso, Maria Con...|    Hopkins, Stephen|        79|    No|   NicholasCage.png|
|1980|  null|Happy Birthday to Me|         Horror|         Ford, Glenn|Anderson, Melissa...|    Thompson, J. Lee|        88|    No|      glennFord.png|
|1989|    88|        Final Notice|        Mystery|         Gerard, Gil|    Anderson, Melody|Stern, Steven Hil...|        88|    No|   NicholasCage.png|
|1958|   104|Barbarian & the G...|         Action|         Wayne, John|          Ando, Eiko|        Huston, John|        52|    No|      johnWayne.png|
|1962|  null|              Dr. No|         Action|       Connery, Sean|     Andress, Ursula|      Young, Terence|         7|    No|    seanConnery.png|
|1966|   125|        Torn Curtain|        Mystery|        Newman, Paul|      Andrews, Julie|   Hitchcock, Alfred|        35|    No|     paulNewman.png|
|1965|   172| Sound of Music, The|          Music|Plummer, Christopher|      Andrews, Julie|        Wise, Robert|        59|   Yes|   NicholasCage.png|
|1978|   106|               Magic|        Mystery|    Hopkins, Anthony|         Ann-Margret|Attenborough, Ric...|        85|    No| AnthonyHopkins.png|
|1992|   286|               Tommy|          Music|       Daltry, Roger|         Ann-Margret|        Russell, Ken|         5|    No|   NicholasCage.png|
|1978|   108|        Big Fix, The|        Mystery|   Dreyfuss, Richard|      Anspach, Susan|  Kagan, Jeremy Paul|        19|    No|   NicholasCage.png|
|1987|   120|    Fatal Attraction|        Mystery|    Douglas, Michael|        Archer, Anne|        Lyne, Adrian|        61|    No|   NicholasCage.png|
|1992|   117|       Patriot Games|         Action|      Ford, Harrison|        Archer, Anne|      Noyce, Phillip|        28|    No|   NicholasCage.png|
|1992|    97|             Hunting|        Mystery|        Savage, John|    Armstrong, Kerry|       Howson, Frank|        68|    No|   NicholasCage.png|
+----+------+--------------------+---------------+--------------------+--------------------+--------------------+----------+------+-------------------+
only showing top 20 rows

# Filtering with **contains**

In [ ]:

df.filter(col("Actress").contains("Adams")).show()

+----+------+--------------------+-------+-------------------+-------------+--------------------+----------+------+----------------+
|Year|Length|               Title|Subject|              Actor|      Actress|            Director|Popularity|Awards|          *Image|
+----+------+--------------------+-------+-------------------+-------------+--------------------+----------+------+----------------+
|1983|   104|      Dead Zone, The| Horror|Walken, Christopher|Adams, Brooke|   Cronenberg, David|        79|    No|NicholasCage.png|
|1979|   122|                Cuba| Action|      Connery, Sean|Adams, Brooke|     Lester, Richard|         6|    No| seanConnery.png|
|1978|    94|      Days of Heaven|  Drama|      Gere, Richard|Adams, Brooke|    Malick, Terrence|        14|    No|NicholasCage.png|
|1983|   140|           Octopussy| Action|       Moore, Roger|  Adams, Maud|          Glen, John|        68|    No|NicholasCage.png|
|1984|   101|        Target Eagle| Action|     Connors, Chuck|  Adams, Maud|Loma, Jos� Antoni...|        14|    No|NicholasCage.png|
|1989|    99|American Angels: ...|  Drama|  Bergen, Robert D.| Adams, Trudy|  Sebastian, Beverly|        28|    No|NicholasCage.png|
+----+------+--------------------+-------+-------------------+-------------+--------------------+----------+------+----------------+

# SQL **Like** Pattern.

In [ ]:
# like - SQL LIKE pattern
df.filter(col("Title").like("%Days%")).show()

+----+------+--------------------+-------+---------------+--------------+----------------+----------+------+----------------+
|Year|Length|               Title|Subject|          Actor|       Actress|        Director|Popularity|Awards|          *Image|
+----+------+--------------------+-------+---------------+--------------+----------------+----------+------+----------------+
|1978|    94|      Days of Heaven|  Drama|  Gere, Richard| Adams, Brooke|Malick, Terrence|        14|    No|NicholasCage.png|
|1975|   117|Three Days of the...|  Drama|Redford, Robert| Dunaway, Faye| Pollack, Sydney|        87|    No|NicholasCage.png|
|1990|   107|     Days of Thunder| Action|    Cruise, Tom|Kidman, Nicole|     Scott, Tony|         3|    No|NicholasCage.png|
|1989|  null|Death Valley Days...|Western|    Caan, James|          null|            null|         9|    No|NicholasCage.png|
|1989|  null|Death Valley Days...|Western| Reagan, Ronald|          null|            null|         1|    No|NicholasCage.png|
+----+------+--------------------+-------+---------------+--------------+----------------+----------+------+----------------+

# rlike - SQL RLIKE pattern 
#This check case **insensitive**

In [ ]:

df.filter(col("Title").rlike("(?i)^*day*")).show()

+----+------+--------------------+-------+-------------------+--------------------+------------------+----------+------+--------------------+
|Year|Length|               Title|Subject|              Actor|             Actress|          Director|Popularity|Awards|              *Image|
+----+------+--------------------+-------+-------------------+--------------------+------------------+----------+------+--------------------+
|1978|    94|      Days of Heaven|  Drama|      Gere, Richard|       Adams, Brooke|  Malick, Terrence|        14|    No|    NicholasCage.png|
|1991|   105|          Predator 2| Action|      Glover, Danny|Alonso, Maria Con...|  Hopkins, Stephen|        79|    No|    NicholasCage.png|
|1990|    97|            Zandalee|  Drama|      Cage, Nicolas|     Anderson, Erika|    Pillsbury, Sam|        80|    No|    NicholasCage.png|
|1980|  null|Happy Birthday to Me| Horror|        Ford, Glenn|Anderson, Melissa...|  Thompson, J. Lee|        88|    No|       glennFord.png|
|1962|    91|Through a Glass D...|  Drama|Bj�rnstrand, Gunnar|  Andersson, Harriet|   Bergman, Ingmar|        64|   Yes|         Bergman.png|
|1959|    90|Voulez-Vous Danse...| Comedy|       Vidal, Henri|    Bardot, Brigitte|  Boisrond, Michel|        16|    No|  brigitteBardot.png|
|1987|    95|          Blind Date| Comedy|      Willis, Bruce|       Basinger, Kim|    Edwards, Blake|         7|    No|    NicholasCage.png|
|1988|    76|Daffy Duck's Quac...| Action|         Blanc, Mel|      Bennett, Julie|        Ford, Greg|        68|    No|    NicholasCage.png|
|1982|   195|A Woman Called Golda|  Drama|        Beatty, Ned|     Bergman, Ingrid|      Gibson, Alan|        15|   Yes|   ingridBergman.png|
|1973|   116|       Day for Night|  Drama|Aumont, Jean-Pierre|  Bisset, Jacqueline|Truffaut, Fran�ois|        10|   Yes|    NicholasCage.png|
|1974|   144|Day of the Locust...|  Drama| Sutherland, Donald|        Black, Karen| Schlesinger, John|        81|    No|    NicholasCage.png|
|1989|   114|         School Daze| Comedy|   Fishburne, Larry|     Campbell, Tisha|        Lee, Spike|        18|    No|    NicholasCage.png|
|1989|    90|    Never on Tuesday|  Drama|      Lauer, Andrew|  Christian, Claudia|      Rifkin, Adam|        77|    No|    NicholasCage.png|
|1965|   122|             Darling|  Drama|   Harvey, Laurence|     Christie, Julie| Schlesinger, John|        44|   Yes|    NicholasCage.png|
|1988|   119|  Dangerous Liaisons|  Drama|    Malkovich, John|        Close, Glenn|   Frears, Stephen|        77|    No|MichellePfeiffer.png|
|1991|    96|Hearts of Darknes...|  Drama|       Bottoms, Sam|    Coppola, Eleanor|         Bahr, Fax|        72|    No|    NicholasCage.png|
|1962|   110|    Sundays & Cybele|  Drama|      Kruger, Hardy|     Courcel, Nicole|Bourguignon, Serge|        11|   Yes|    NicholasCage.png|
|1988|   108| A Fish Called Wanda| Comedy|       Cleese, John|   Curtis, Jamie Lee| Crichton, Charles|         7|   Yes|    NicholasCage.png|
|1946|    97|My Darling Clemen...|Western|       Fonda, Henry|        Downs, Cathy|        Ford, John|        12|    No|        johnFord.png|
|1975|   117|Three Days of the...|  Drama|    Redford, Robert|       Dunaway, Faye|   Pollack, Sydney|        87|    No|    NicholasCage.png|
+----+------+--------------------+-------+-------------------+--------------------+------------------+----------+------+--------------------+
only showing top 20 rows

#**OrderBy**

In [ ]:
df.orderBy(col("Year")).show()

+----+------+--------------------+---------------+--------------------+----------------+--------------------+----------+------+-------------------+
|Year|Length|               Title|        Subject|               Actor|         Actress|            Director|Popularity|Awards|             *Image|
+----+------+--------------------+---------------+--------------------+----------------+--------------------+----------+------+-------------------+
|1920|   137|             Spiders|          Drama|       De Vogy, Carl|            null|         Lang, Fritz|        29|    No|   NicholasCage.png|
|1923|    57|        Desert Rider|        Western|         Hoxie, Jack|  Nelson, Evelyn| Bradbury, Robert N.|      null|    No|   NicholasCage.png|
|1924|   110|Siegfried, The Ni...|          Drama|       Richter, Paul| Arnold, Gertrud|         Lang, Fritz|        79|    No|   NicholasCage.png|
|1924|    95|Kriemhild's Reven...|          Drama|       Loos, Theodor|Sch�n, Margarete|         Lang, Fritz|        74|    No|   NicholasCage.png|
|1924|   123|Gosta Berling's Saga|          Drama|        Hanson, Lars|            null|    Stiller, Mauritz|        63|    No|   NicholasCage.png|
|1925|   125|      Joyless Street|          Drama|       Stuart, Henry|    Garbo, Greta|Pabst, Georg Wilhelm|        73|    No|     gretaGarbo.png|
|1926|   126|            Don Juan|         Action|     Barrymore, John|     Astor, Mary|      Crosland, Alan|        55|    No|   NicholasCage.png|
|1926|   139|          Metropolis|Science Fiction|        Abel, Alfred|            null|         Lang, Fritz|        49|    No|   NicholasCage.png|
|1926|   109|Flesh & the Devil...|          Drama|       Gilbert, John|    Garbo, Greta|     Brown, Clarence|        72|    No|     gretaGarbo.png|
|1926|    66|Lodger (Story of ...|        Mystery|     Chesney, Arthur|     Ault, Marie|   Hitchcock, Alfred|        76|    No|alfredHitchcock.png|
|1927|    78|        My Best Girl|          Drama|     Rogers, Charles|  Pickford, Mary|         Taylor, Sam|        31|    No|   NicholasCage.png|
|1927|    60|         Easy Virtue|        Mystery|     Dyall, Franklin|   Jeans, Isabel|   Hitchcock, Alfred|        45|    No|alfredHitchcock.png|
|1927|    62|      Drop Kick, The|          Drama|Barthelmess, Richard|   Kent, Barbara|       Webb, Millard|      null|    No|   NicholasCage.png|
|1928|    90|    Woman of Affairs|          Drama|       Gilbert, John|    Garbo, Greta|     Brown, Clarence|        83|    No|     gretaGarbo.png|
|1928|    96|Mysterious Lady, The|          Drama|       Nagel, Conrad|    Garbo, Greta|         Niblo, Fred|        72|    No|     gretaGarbo.png|
|1928|   148|             Tempest|          Drama|     Barrymore, John|   Horn, Camilla|         Taylor, Sam|        33|    No|   NicholasCage.png|
|1928|   139|               Wings|            War|       Rogers, Buddy|      Bow, Clara|    Wellman, William|        44|   Yes|   NicholasCage.png|
|1928|   130|               Spies|          Drama| Klein-Rogge, Rudolf|            null|         Lang, Fritz|        49|    No|   NicholasCage.png|
|1929|    84|           Blackmail|        Mystery|       Longden, John|    Algood, Sara|   Hitchcock, Alfred|         2|    No|alfredHitchcock.png|
|1929|   100|        Wild Orchids|          Drama|        Stone, Lewis|    Garbo, Greta|    Franklin, Sidney|        70|    No|     gretaGarbo.png|
+----+------+--------------------+---------------+--------------------+----------------+--------------------+----------+------+-------------------+
only showing top 20 rows

In [ ]:
df.orderBy(col("Year").desc()).show()

+----+------+--------------------+---------------+--------------------+--------------------+-------------------+----------+------+-------------------+
|Year|Length|               Title|        Subject|               Actor|             Actress|           Director|Popularity|Awards|             *Image|
+----+------+--------------------+---------------+--------------------+--------------------+-------------------+----------+------+-------------------+
|1997|   109| Alien: resurrection|Science Fiction|        Perlman, Ron|   Weaver, Sigourney|Jeunet, Jean-Pierre|        60|    No|         weaver.png|
|1996|    96|Island of Dr. Mor...|         Horror|      Thewlis, David|       Balk, Fairuza|Frankenheimer, John|        39|    No|   NicholasCage.png|
|1993|    65|John Cleese on Ho...|         Comedy|        Cleese, John|       Booth, Connie|               null|        62|    No|   NicholasCage.png|
|1993|    60|Bill Cosby, Live ...|         Comedy|         Cosby, Bill|     Boosler, Elayne|               null|        13|    No|   NicholasCage.png|
|1993|    92|    Naked Truth, The|         Comedy|      Sellers, Peter|      Eaton, Shirley|               null|        34|    No|   NicholasCage.png|
|1993|    95|  Honeymoon in Vegas|         Comedy|         Caan, James|Parker, Sarah Jes...|    Bergman, Andrew|        53|    No|   NicholasCage.png|
|1993|    30|Alfred Hitchcock ...|        Mystery|   Hitchcock, Alfred|         Dors, Diana|               null|        60|    No|   NicholasCage.png|
|1993|  null|   Mr. & Mrs. Bridge|          Drama|        Newman, Paul|    Woodward, Joanne|               null|        29|    No|     paulNewman.png|
|1993|    53|      Big Bands, The|          Music|         Beneke, Tex|         Elgart, Les|               null|        48|    No|   NicholasCage.png|
|1993|    90|                Duel|        Mystery|      Weaver, Dennis|                null|  Spielberg, Steven|        48|    No|   NicholasCage.png|
|1993|   104|It Started with a...|          Drama|         Ford, Glenn|    Reynolds, Debbie|               null|        80|    No|      glennFord.png|
|1993|   103|     Romantic Comedy|         Comedy|       Moore, Dudley|   Steenburgen, Mary|               null|         8|    No|   NicholasCage.png|
|1993|    76|   Return Engagement|          Drama|     Bottoms, Joseph|   Taylor, Elizabeth|               null|        26|    No|elizabethTaylor.png|
|1993|    75| Employee's Entrance|          Drama|     William, Warren|      Young, Loretta|               null|         0|    No|   NicholasCage.png|
|1993|  null|       Ginger & Fred|         Comedy|Mastroianni, Marc...|                null|  Fellini, Federico|        29|    No|   NicholasCage.png|
|1993|  null|       Hot Line, The|         Comedy|      Boyer, Charles|                null|    Perier, Etienne|        70|    No|   NicholasCage.png|
|1993|   108|        Offence, The|        Mystery|       Connery, Sean|                null|               null|         6|    No|    seanConnery.png|
|1993|    88|   Great White Death|         Action|         Ford, Glenn|                null|               null|        26|    No|      glennFord.png|
|1993|   102|Today We Kill.......|        Western|    Ford, Montgomery|                null|               null|        25|    No|   NicholasCage.png|
|1993|  null|  Runaway Barge, The|         Action|       Matheson, Tim|                null|               null|        38|    No|   NicholasCage.png|
+----+------+--------------------+---------------+--------------------+--------------------+-------------------+----------+------+-------------------+
only showing top 20 rows

#**Groupby**

In [ ]:
df.groupBy(col("Awards")).count().show()

+------+-----+
|Awards|count|
+------+-----+
|    No| 1496|
|   Yes|  163|
+------+-----+

**GroupBy** and count

In [ ]:
df.groupBy(col("Year")).count().show()

+----+-----+
|Year|count|
+----+-----+
|1959|    9|
|1990|  105|
|1975|   23|
|1977|   29|
|1924|    3|
|1974|   23|
|1927|    3|
|1955|   20|
|1978|   18|
|1925|    1|
|1961|   14|
|1942|    6|
|1944|    4|
|1939|   11|
|1952|   10|
|1956|   15|
|1934|    4|
|1988|   96|
|1997|    1|
|1968|   20|
+----+-----+
only showing top 20 rows

#Using Groupby with OrderBy 
**GroupBy** and **Orderby**

In [ ]:
df.groupBy(col("Year")).count().orderBy(col("count").desc()).show()

+----+-----+
|Year|count|
+----+-----+
|1991|  129|
|1990|  105|
|1987|  102|
|1989|  101|
|1988|   96|
|1986|   95|
|1992|   88|
|1985|   42|
|1983|   40|
|1984|   38|
|1982|   37|
|1979|   33|
|1980|   30|
|1977|   29|
|1970|   28|
|1973|   26|
|1981|   26|
|1972|   24|
|1975|   23|
|1974|   23|
+----+-----+
only showing top 20 rows

In [33]:
from pyspark.sql.functions import countDistinct, avg, stddev, max

#Aggregate Functions

**Average** for a column

In [32]:
 df.select(avg('Popularity')).show()

+-----------------+
|  avg(Popularity)|
+-----------------+
|43.11010284331518|
+-----------------+

**Maximum** for a column

In [34]:
df.select(max('Popularity')).show()

+---------------+
|max(Popularity)|
+---------------+
|             88|
+---------------+

#Window Functions

Find records based on maximum popularity for each year. 
For this we create a window **partition** based on year, and then apply **over** method

In [40]:
from pyspark.sql import Window
w = Window.partitionBy('Year')
df.withColumn('maxB', max('Popularity').over(w)).where(col('Popularity') == col('maxB')).drop('maxB').show()

+----+------+--------------------+-------+------------------+----------------+--------------------+----------+------+-------------------+
|Year|Length|               Title|Subject|             Actor|         Actress|            Director|Popularity|Awards|             *Image|
+----+------+--------------------+-------+------------------+----------------+--------------------+----------+------+-------------------+
|1920|   137|             Spiders|  Drama|     De Vogy, Carl|            null|         Lang, Fritz|        29|    No|   NicholasCage.png|
|1924|   110|Siegfried, The Ni...|  Drama|     Richter, Paul| Arnold, Gertrud|         Lang, Fritz|        79|    No|   NicholasCage.png|
|1925|   125|      Joyless Street|  Drama|     Stuart, Henry|    Garbo, Greta|Pabst, Georg Wilhelm|        73|    No|     gretaGarbo.png|
|1926|    66|Lodger (Story of ...|Mystery|   Chesney, Arthur|     Ault, Marie|   Hitchcock, Alfred|        76|    No|alfredHitchcock.png|
|1927|    60|         Easy Virtue|Mystery|   Dyall, Franklin|   Jeans, Isabel|   Hitchcock, Alfred|        45|    No|alfredHitchcock.png|
|1928|    90|    Woman of Affairs|  Drama|     Gilbert, John|    Garbo, Greta|     Brown, Clarence|        83|    No|     gretaGarbo.png|
|1929|    74|Single Standard, The|  Drama|      Asther, Nils|    Garbo, Greta|  Robertson, John S.|        73|    No|     gretaGarbo.png|
|1930|    76|             Romance|  Drama|      Stone, Lewis|    Garbo, Greta|                null|        62|    No|     gretaGarbo.png|
|1931|    95|          Arrowsmith|  Drama|    Colman, Ronald|    Hayes, Helen|          Ford, John|        84|    No|       johnFord.png|
|1932|    71|    As You Desire Me|  Drama|   Douglas, Melvyn|    Garbo, Greta|                null|        85|    No|     gretaGarbo.png|
|1933|    97|     Queen Christina|  Drama|     Gilbert, John|    Garbo, Greta|   Mamoulian, Rouben|        82|    No|     gretaGarbo.png|
|1934|    85|   Painted Veil, The|  Drama| Marshall, Herbert|    Garbo, Greta|Boleslawski, Richard|        57|    No|     gretaGarbo.png|
|1935|    90|        Swedenhielms|  Drama| Westergren, H�kan| Bergman, Ingrid|    Molander, Gustaf|        88|    No|  ingridBergman.png|
|1936|    89|        Libeled Lady| Comedy|   Powell, William|    Harlow, Jean|        Conway, Jack|        86|    No|   NicholasCage.png|
|1937|    61|   Swing It, Sailor!| Comedy|     Ford, Wallace|            null|     Cannon, Raymond|        83|    No|   NicholasCage.png|
|1938|    55|Overland Stage Ra...|Western|       Wayne, John|            null|     Sherman, George|        83|    No|      johnWayne.png|
|1939|    85| Back Door to Heaven|  Drama|     Ford, Wallace| MacMahon, Aline|  Howard, William K.|        83|    No|   NicholasCage.png|
|1940|   105|Long Voyage Home,...|  Drama|       Wayne, John|Natwick, Mildred|          Ford, John|        88|    No|      johnWayne.png|
|1941|    57|Bury Me Not on th...|Western|Brown, Johnny Mack|     O'Day, Nell|         Taylor, Ray|        85|    No|   NicholasCage.png|
|1941|    56|    Man from Montana|Western|Brown, Johnny Mack|     O'Day, Nell|         Taylor, Ray|        85|    No|   NicholasCage.png|
+----+------+--------------------+-------+------------------+----------------+--------------------+----------+------+-------------------+
only showing top 20 rows